body {
    margin: 0px;
    font-family: "Muli", sans-serif;
    background-image: linear-gradient(to top, #00091e 0%, #001c2b 100%);
 }
 .login {
    display: flex;
    align-items: center; /* alineacion vertical */
    justify-content: center; /* alineacion horizontal */
    flex-direction: column;
    padding: 25px 30px;
    min-height: calc(100vh);
 }
 .login__container {
    background-color: rgba(255, 255, 255, 0.1);
 
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 25px 68px 40px;
    min-height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
 }
 .login__container-img {
    margin: 0 auto;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    width: 50%;
 }
 .login-container,
 h2 {
    text-align: center;
 }
 .login__container--form {
    display: flex;
    flex-direction: column;
 }
 .login__container--form label {
    font-size: 14px;
 }
 .login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
 }
 .login__container--remember-me a {
    color: #e3ffa8;
    font-size: 14px;
    text-decoration: none;
    border-radius: 100%;
 }
 .login__container--remember-me a:hover {
    text-decoration: underline;
 }

 .login__container--register {
    font-size: 14px;
    text-align: center;
    margin-top: 1rem;
 }
 .login__container--register a {
    color: #e3ffa8;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
 }
 .login__container--register a {
    color: #e3ffa8;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
 }
 .login__container--register a:hover {
    text-decoration: underline;
 }
 .input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: black;
    height: 50px;
    color: #e3ffa8;
 }
 ::placeholder {
    color: white;
 }
 .button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    outline: none;
    text-decoration: none;
    text-align: center;
 }

.button {
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }

  .button a {
    text-decoration: none;
    color: white;
  }
 
 @media only screen and (max-width: 600px) {
    .login__container {
       background-color: transparent;
       border: none;
       padding: 0px;
       width: 100%;
    }
 }
 